SpliceComponent input-dim=40 left-context=4 right-context=4
FixedAffineComponent matrix=exp_dys_comb_vad/DNN/lda.mat
AffineComponentPreconditioned input-dim=360 output-dim=1024 alpha=4.0 max-change=10.0 learning-rate=0.005 param-stddev=0.03125 bias-stddev=0.5
TanhComponent dim=1024
AffineComponentPreconditioned input-dim=1024 output-dim=1632 alpha=4.0 max-change=10.0 learning-rate=0.005 param-stddev=0 bias-stddev=0
SoftmaxComponent dim=1632
